@media only screen and (min-width: 768px) {

    .input {
        width: 512px;
        font-size: 14px;
    }

    #log {
        width: 70%;
    }

    .log-history .log {
        width: 100%;
        align-items: flex-start;
    }

    .log-history .score-update-and-card {
        width: 40%;
        justify-content: flex-end;
    }

    .log-history .correction {
        width: 60%;
        align-items: center;
    }
}