@media only screen and (max-width: 768px) {

    .navbar .settings {
        width: 48px;
        height: 48px
    }

    .input {
        width: 95%;
        font-size: 11px;
    }

    .log-history {
        align-items: center;
    }

    .log-history .log {
        flex-direction: column;
        align-items: center;
    }

    .correction {
        margin-top: 4px;
    }

    .training-sets input {
        width: 32px;
        height: 32px;
    }

    .app-settings button {
        align-self: center;
    }
}